@import compass/css3

@import variables
@import mixins
@import components/code

*, *:before, *:after
	box-sizing: border-box

html
	font:
		family: "Helvetica Neue", Helvetica, sans-serif
		weight: 300

body
	+columns(3)
	+column-width(50%)
	+column-gap(3em)
	+column-fill(auto)
	padding: 3em
	margin: 0
	color: _c(base3)
	height: 100vh
	font-size: .8em
	background-color: _c(base02)

h1, h2, h3, h4
	margin: 1em 0 .6em

h3, h4
	font-weight: 300
	margin-top: .8em

h3
	font-weight: 400

h2
	font-weight: 600
	font-size: 2em
	margin-top: .3em

h1
	font-weight: 800
	font-size: 3em
	margin: 0 0 .1em

.note
	font-size: .8em

p
	margin: 0 0 1rem 0

pre
	margin: .2rem